
body{
	background-color: Pink;
}
h1{
	font-family:Times;
	font-style: italic;
	font-weight: bold; 
}
.box{
	width: 300px;
	height: 400px;
	background-color: gray;
	box-shadow: 15px 15px 10px #888888;
	border-radius: 10px;
	margin:auto;
}
#btn{
    
    background-color: gray;
    font-size: 30px;
    
}
#screen{
	background-color: white;
	font-size: 25px;
	border-radius: 10px;
}

